.feed__post {
  background: #fff;
  margin: 10px 0;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #00000026;
}

.post__header {
  display: flex;
}

.avatar {
}

.post__meta {
  margin-left: 10px;
}
.author {
  color: #000000e6;
}
.desc {
  color: #00000070;
}

.post__body {
  font-size: 1.4rem;
  margin: 10px 0;
  color: #000000e6;
}
.post__actions {
  display: flex;
  gap: 12px;
  font-size: 1.2rem;
  color: #00000070;
  margin-top: 10px;
}
.post__actions h4 {
  margin-left: 5px !important;
}

.post__reactions {
  display: flex;
  gap: 15px;
  padding: 5px 0;
  margin: 10px 0 0;
  font-size: 1.2rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: #00000070;
  font-weight: 600;
}
.likes {
}
.comments {
}
